
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}


<h2>Dashboard.</h2>
<div class="row">
    <h4>Bienvenido a la vista de Administrador.</h4>
    <p>Mediante esta página podrás gestionar los productos de la tienda, usuarios, alumnos, sus grupos y las noticias que vayan a publicarse en la web.</p>
</div>
