
@{
    ViewBag.Title = "ErrCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Msg</h2>

<p>Por favor vuelva a completar el formulario de alumno.</p>

@Html.ActionLink("Volver", "Create", "Alumno")

